.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1.2rem;
}

.logoLink {
   text-decoration: none;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   gap: 0.1rem;
   font-size: 3.2rem;
   font-weight: bold;
   color: var(--primary);
}

.logoLink:hover {
  filter: brightness(80%);
  transition: all 0.1s;
}

.logoLink svg {
  width: 6.4rem;
  height: 6.4rem;
}
