.input {
  text-align: center;
  border: none;
  font-size: 1.8rem;
  border-bottom-color: var(--primary);
  background: transparent;
  padding: 0.8rem;
  color: var(--text-default);
  outline: none;

  border: 0.2rem solid transparent;
  border-bottom: 0.2rem solid var(--primary);
}

.input:focus {
   border-radius: 0.8rem;
  border-color: var(--primary);
  transition: all 0.1s ease-in-out;
}

input::placeholder {
  color: var(-gray-500);
  font-size: 1.4rem;
  font-style: italic;
}

.input:disabled {
  color: var(--text-muted);
  border-bottom: 0.2rem solid var(--disabled);
}